.headerTitle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  font-size: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 40px;
  width: auto;
  background-color: rgba(0, 123, 255, 0.12549019607843137);
}
.headerTitleText {
  color: #003278;
}
.mainContainer {
  border: 1px solid rgb(210, 210, 210);
  height: auto;
  width: 98%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(192, 192, 192);
  min-height: 820px;
  padding: 5px;
}
.numbersDivParent {
  position: relative;
}
.numbersDiv {
  position: absolute;
  right: 2px;
  height: 800px;
  width: 88%;
}
.numbersDisplay {
  grid-gap: 20px;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 5px;
}
.boxStyle {
  height: 100%;
  width: 100%;
  border: 1px solid rgb(193, 193, 193);
  margin: 5px 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
  background-color: #f4f4f4;
}
.boxStyleGenerated {
  height: 100%;
  width: 100%;
  border: 3px solid #28a745;
  margin: 5px 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
  background-color: #e4f4e7;
}
.numberStyle {
  font-size: 2.2rem;
  color: #bbbbbb;
  font-weight: 700;
}
.numberStyleCurrent {
  font-size: 2.2rem;
  color: rgb(217, 131, 32);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
}
.numberStyleGenerated {
  font-size: 2.2rem;
  color: #28a745;
  font-weight: 700;
}
.settingsContent {
  width: 10%;
  height: 800px;
  position: absolute;
  left: 17px;
  border: 1px solid rgb(233, 233, 233);
  margin-top: 5px;
}
.playButton {
  height: 70px;
  width: 70px;
  background-color: gray;
  margin-left: 50px;
  margin-top: 45px;
  border-radius: 40px;
  border: 2px solid rgb(193, 193, 193);
  background-color: #f4f4f4;
  cursor: pointer;
}
.generatedNumber {
  height: 70px;
  width: 70px;
  background-color: gray;
  margin-left: 50px;
  margin-top: 15px;
  border-radius: 40px;
  border: 3px solid rgb(217, 131, 32);
  background-color: #ffead7;
  cursor: pointer;
}
.iconStyle {
  margin-top: 20px;
  margin-left: 27px;
  color: gray;
}
.hoveredIcon {
  height: 80px;
  width: 80px;
  background-color: rgba(0, 123, 255, 0.12549019607843137);
  margin-left: 45px;
  margin-top: 45px;
  border-radius: 40px;
  border: 3px solid #003278;
  cursor: pointer;
}
.hoveredIconStyle {
  margin-top: 23px;
  margin-left: 30px;
  color: #003278;
}
.playTextStyle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 70px;
  margin-top: 20px;
  font-size: 17px;
  cursor: pointer;
}
.hoveredPlayTextStyle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 70px;
  margin-top: 20px;
  font-size: 19px;
  color: #003278;
  cursor: pointer;
}
.newGameButton {
  width: 120px;
  background-color: #28a745;
  height: 30px;
  margin-left: 29px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
  background-color: rgba(0, 123, 255, 0.12549019607843137);
}
.newGameText {
  display: flex;
  justify-content: center;
  padding-top: 3px;
  color: #003278;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 19px;
}
@media screen and (max-width: 768px) {
  .numbersDiv {
    position: relative; /* Change the position back to relative */
    right: auto; /* Reset the right position */
    width: 100%; /* Make it full width */
    /* Adjust the margin as needed */
  }
}
